html {
    font-size: 100%;
    box-sizing: border-box; //Makes sure padding is included in total width
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: auto;
    padding: 0;
    width: 75%;
    font-family: var(--font-inter);
    background-color: var(--primary-blue);
    color: var(--text-color);
}