:root {
    --primary-blue: hsl(219, 29%, 15%);
    --secondary-blue: hsl(229, 89%, 85%);
    --accent-orange: hsl(31, 100%, 67%);
    --accent-green: #a5cc75;
    --accent-purple: hsl(260, 54%, 67%);
    --text-color: hsl(217, 100%, 97%);
    --inactive-text-color: hsla(216, 86%, 67%, .40);
}