:root {
    --primary-blue: hsl(219, 29%, 15%);
    --secondary-blue: hsl(227, 89%, 85%);
    --accent-orange: hsl(31, 100%, 67%);
    --accent-green: hsl(87, 46%, 63%);
    --accent-purple: hsl(260, 54%, 67%);
    --text-color: hsl(217, 100%, 97%);
}