:root {
    --light-green: hsl(120, 38%, 85%);
    --light-tan: hsl(7, 31%, 95%);
    --faded-pink: hsl(326, 43%, 80%);
    --pastel-pink1: hsl(303, 58%, 74%);
    --pastel-pink2: hsl(316, 69%, 61%);
}