@use '../util' as *;

.icon-menu {
    display: grid;
    // TODO: Adjust this??
    grid-template-columns: 40px 40px 40px 40px 40px 40px;
    gap: rem(45);
    margin-left: rem(20);

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(10);

        // &:hover {
        //     width: 50px;
        // }
    }
}

.item {
    &__img {
        filter: invert(67%) sepia(80%) saturate(300%) hue-rotate(196deg) brightness(102%) contrast(97%);
        transition: filter 200ms;

        &:hover {
            filter: none;
        }
    }
}