@use '../util' as *;

.section {
    flex-basis: 100%;

    &__pane {
        &--left {
            position: sticky;
            top: 20px;
            flex-basis: 65vw;
        }

        &--right {
        }
    }
}