@use '../util' as *;

.section {
    &__pane {
        display: flex;
        flex-direction: column;
        margin-top: 12vh;
        gap: rem(48);

        &--left {
            overflow: hidden;
            max-width: 45%;
        }

        &--right {}
    }
}