@use '../util' as *;

.title {
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    gap: rem(48);
    overflow: hidden;
    max-width: 45%;

    &__header {
        .location {
            display: flex;
            align-items: center;
            margin: 10px
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15vh;
    }


}

.footer {
    &__social {
        height: 24px;

        &--github,
        &--linkedin {
            filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
        }
    }
}


.right-pane {}